<div class="book-grid" >
  <div class="book-item-info pmd-z-depth-1">
    <p class="book-title" title="<%= b.title %>">
      <%= link_to b.title.truncate(
        Settings.user.home.truncate.item_book_title), book_path(b),
        "data-turbolinks":"false" %></p>
    <div class="star-in-item">
      <% (1..(load_rate b.rate).first).each do %>
        <i class="fa fa-star" aria-hidden="true"></i>
      <% end  %>
      <% (1..(load_rate b.rate).second).each do %>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
      <% end  %>
      <% (1..(load_rate b.rate).last).each do %>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      <% end  %>
    </div>
    <p class="book-author">
      <% b.authors.each_with_index do |a, index| %>
        <% if index == b.authors.count - 1 %>
          <%= link_to a.name, a, "data-turbolinks":"false" %>
        <% else %>
          <%= link_to a.name, a, "data-turbolinks":"false" %>,
        <% end %>
      <% end %>
    </p>
    <p class="book-category">
      <% if b.categories.present? %>
        <%= link_to b.categories.first.title, b.categories.first,
          "data-turbolinks": "false" %></p>
      <% end %>
  </div>
  <img src="<%= b.images.first.url.thumb %>" class="img-responsive">
  <% if b.new_book? %>
    <div class="new-tag"><%= t "books.show.new_tag" %></div>
  <% end %>
</div>
