<div class="container">
  <div class="row title-heading">
    <h2 class="row-title"><%= t "home.new_book" %></h2>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1 img-container">
      <img src="<%= support.load_new_book.first.images.first.url %>"
        class="img-responsive">
    </div>
    <div class="col-sm-6 col-sm-offset-1 book-info-container">
      <h2><%= link_to support.load_new_book.first.title,
        book_path(support.load_new_book.first),
        "data-turbolinks":"false" %></h2>
      <h4><% support.load_new_book.first.authors.each_with_index do
        |a, index| %>
          <% if index == support.load_new_book.first.authors.count - 1 %>
            <%= link_to a.name, "", "data-turbolinks":"false" %>
          <% else %>
            <%= link_to a.name, "", "data-turbolinks":"false" %>,
          <% end %>
        <% end %>
      </h4>
      <p title="<%= support.load_new_book.first.description %>">
        <%= support.load_new_book.first.description.truncate(
          Settings.user.home.truncate.book_description) %>
      </p>
    </div>
  </div>
</div>
