<div class="container">
  <div class="row title-heading">
    <h2 class="row-title"><%= t "home.new_book" %></h2>
  </div>

  <div class="owl-carousel owl-theme" id="new-book-slide">
    <% support.load_new_book.each do |book| %>
      <div class="row">
        <div class="col-sm-3 col-sm-offset-1 img-container">
          <%= link_to book_path(book), "data-turbolinks": false do %>
            <img src="<%= book.images.first.url %>"
              class="img-responsive">
          <% end %>
        </div>
        <div class="col-sm-6 col-sm-offset-1 book-info-container">
          <h2><%= link_to book.title,
            book_path(book),
            "data-turbolinks":"false" %></h2>
          <h4><% book.authors.each_with_index do
          |a, index| %>
              <% if index == book.authors.count - 1 %>
                <%= link_to a.name, author_path(a), "data-turbolinks":"false" %>
              <% else %>
                <%= link_to a.name, author_path(a), "data-turbolinks":"false" %>,
              <% end %>
            <% end %>
          </h4>
          <p title="<%= book.description %>">
            <%= book.description.truncate(
            Settings.user.home.truncate.book_description) %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
