<div class="home-page static-pages">
  <div class="hero-home">
    <div class="container">
      <div class="owl-carousel owl-theme" id="hero-slide">
        <div class="slide1">
          <p class="home-slide-title-1 enjoy-css"><%= t "home.slide.slide1_title1" %></p>
          <p class="home-slide-title-2"><%= t "home.slide.slide1_title2" %></p>
          <i class="fa fa-angle-up" aria-hidden="true"></i>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>

        <div>
          <p class="home-slide-title-2"><%= t "home.slide.slide2_title2" %></p>
          <p class="home-slide-title-1"><%= t "home.slide.slide2_title1" %></p>
          <i class="fa fa-angle-up" aria-hidden="true"></i>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="home-body container">
    <div class="row">
      <div class="col-sm-3 home-guide-box">
        <h2><%= t "home.guide.books" %></h2>
        <p><%= t "home.guide.books_content" %></p>
        <p><%= link_to t("home.guide.start_explore"), explorer_index_path,
          "data-turbolinks": "false" %></p>
      </div>
      <div class="col-sm-3 home-guide-box">
        <h2 class="heading-bottom">
          <%= t "home.guide.blogs"%></h2>
        <p class="paragraph-bottom"><%= t "home.guide.blog_content" %></p>
        <p><%= link_to t("home.guide.start_explore"), blog_root_path,
          "data-turbolinks": "false" %></p>
      </div>
      <div class="col-sm-3 home-guide-box">
        <h2><%= t "home.guide.borrow" %></h2>
        <p><%= t "home.guide.borrow_content" %></p>
        <p><%= link_to t("home.guide.choose_book"), categories_path,
          "data-turbolinks": "false" %></p>
      </div>
      <div class="col-sm-3 home-guide-box">
        <h2 class="heading-bottom"><%= t "home.guide.feedback" %></h2>
        <p class="paragraph-bottom"><%= t "home.guide.feedback_content" %></p>
        <p><%= link_to t("home.guide.feedback_link"), "",
          "data-turbolinks": "false" %></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid recommend-book">
  <div class="container">
    <div class="col-sm-12 text-center title-heading">
      <h2><%= t "home.recommend" %></h2>
      <p><%= t "home.recommend_details" %></p>
    </div>
    <div class="col-sm-12 bookshelf">
      <div class="col-sm-10 col-sm-offset-1 slider">
        <div class="slide-nav">
          <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
          <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
        </div>
        <div class="owl-carousel owl-theme recommend-book-slider"
             id="recommended-book-slide">
          <% if @support.load_top_rate_book.present? %>
            <% @support.load_top_rate_book.each do |book| %>
              <%= render "book_slide_item", b: book %>
            <% end %>
          <% else %>
            <% @support.load_new_book.each do |book| %>
              <%= render "book_slide_item", b: book %>
            <% end %>
          <% end %>
          <div class="book-shelf">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid hot-book">
  <%= render "hot_book", support: @support %>
</div>

<div class="container-fluid hot-author">
  <%= render "hot_author", support: @support %>
</div>
