<% provide :title, t("blog.posts.index.my_blog") %>

<div class="container-fluid header-block">
  <h2><%= t "blog.dashboard.index.explore" %> </h2>
  <h1 class="text-capitalize"><%= t "blog.posts.index.my_blog" %></h1>
</div>

<div class="container-fluid dashboard-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <ul>
          <li>
            <%= link_to t("blog.dashboard.index.newest"), blog_root_path, "data-turbolinks": false  %>
          </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to t("blog.posts.index.my_blog"), blog_posts_path, class: "hover" %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-3">
        <% if user_signed_in? %>
          <%= form_with model: Blog.new, url: blog_posts_path, local: true do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <button class="btn btn-primary pmd-btn-raised pmd-ripple-effect btn-create" type="submit">
              <i class="fa fa-fw fa-pencil"></i>
              <%= t "blog.dashboard.index.create_post" %>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <ul class="nav nav-tabs">
        <li role="presentation" class="<%= tab_active params, "published" %>">
          <%= link_to t("blog.posts.index.published"), blog_posts_path %>
        </li>
        <li class="<%= tab_active params, "draft" %>">
          <%= link_to t("blog.posts.index.draft"), blog_posts_path(status: :draft) %>
        </li>
      </ul>
    </div>
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-12">
        </div>
        <div class="col-sm-9">
          <% if @posts.empty? %>
            <h2 class="text-center">
              <%= t "blog.posts.index.no_blog" %>
            </h2>
          <% end %>
          <% @posts.each do |post| %>
            <div class="row blog-post">
              <div class="col-sm-1 avatar">
                <img src="<%= post.user.avatar.thum40 %>" alt="" class="img-responsive">
              </div>
              <div class="col-sm-9">
                <div class="post-header">
                  <h4>
                    <%= link_to post.user.email, "#" %>
                    <small><%= time_ago_in_words post.created_at %></small>
                  </h4>
                </div>
                <div class="post-body">
                  <% if post.published? %>
                    <%= link_to post.title, blog_post_path(post), "data-turbolinks": false %>
                  <% else %>
                    <%= link_to post.title, edit_blog_post_path(post), "data-turbolinks": false %>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-2">
                <%= link_to edit_blog_post_path(post), "data-turbolinks": false,
                  class: "btn btn-primary btn-sm btn-block" do %>
                  <i class="fa fa-fw fa-cog"></i>
                  <%= t "button.edit" %>
                <% end %>
                <%= link_to blog_post_path(post), confirm: t("blog.posts.index.are_you_sure"),
                  class: "btn btn-danger btn-sm btn-block", method: :delete do %>
                  <i class="fa fa-fw fa-trash"></i>
                  <%= t "button.delete" %>
                <% end %>
              </div>
              <div class="col-sm-12">
                <hr>
              </div>
            </div>
          <% end %>
          <div class="col-sm-12">
            <%= paginate @posts, theme: "twitter-bootstrap-3" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
