<div class="books-make">
  <div class="book-form pmd-card pmd-z-depth pmd-card-custom-form col-xs-12">
    <div class="pmd-card-body">
      <%= form_for [:admin, book] do |f| %>
        <%= f.label :title, class:"form-label" %>
        <%= f.text_field :title, class:"form-control" %>
        <div class="row">
          <div class="col-xs-3">
            <%= f.label :pages, class:"form-label" %>
            <%= f.number_field :pages, class:"form-control", min: 1 %>
          </div>
          <div class="col-xs-3">
            <%= f.label :weight, class:"form-label" %>
            <%= f.text_field :weight, class:"form-control" %>
          </div>
          <div class="col-xs-3">
            <%= f.label :dimension, class:"form-label" %>
            <%= f.text_field :dimension, class:"form-control" %>
          </div>
          <div class="col-xs-3">
            <%= f.label :isbn, class:"form-label" %>
            <%= f.text_field :isbn, class:"form-control" %>
          </div>
        </div>
        <%= f.label :description, class:"form-label" %>
        <%= f.text_area :description, class:"form-control" %>
        <%= f.label :categories %><br/>
        <%= f.collection_select :category_ids, supports.categories, :id, :title,
          {}, {multiple: true, size: 1, class:"chosen-select form-control",
          data: {placeholder: t(".choose_categories")}} %>
        <%= f.label :publisher %>
        <%= f.select :publisher_id, supports.publishers,
          {include_blank: t(".choose_publisher")},
          {class: "form-control hide-select1"} %>
        <div class="add-authors">
          <%= link_to_add_association f, :publisher do %>
            <i id="change-publisher" class="fa fa-plus-square hide-select1">
              <% if book.id %>
                <%= t ".edit_publisher" %>
              <% else %>
                <%= t ".add_new" %>
              <% end %>
            </i>
          <% end %>
        </div>
        <%= f.label :language %>
        <%= f.select :language_id, supports.languages,
          {include_blank: t(".choose_language")}, {class: "form-control"} %>
        <%= f.label :series %>
        <%= f.select :series_id, supports.series,
          {include_blank: t(".choose_series")},
          {class:"form-control hide-select2"} %>
        <div class="add-authors">
          <%= link_to_add_association f, :series do %>
            <i id="change-series" class="fa fa-plus-square hide-select2">
              <% if book.id %>
                <%= t ".edit_series" %>
              <% else %>
                <%= t ".add_new" %>
              <% end %>
            </i>
          <% end %>
        </div>
        <%= f.label :authors %><br/>
        <%= f.collection_select :author_ids, supports.authors, :id, :name,
          {}, {multiple: true, size: 1, class:"form-controll pmd-select2-tags select-authors",
          data: {placeholder: t(".choose_authors")}} %>
        <div class="add-authors">
          <%= link_to_add_association f, :author_books, "data-turbolinks": false,
            wrap_object: Proc.new {|author| author.build_author; author } do %>
            <i class="fa fa-plus-square"><%= t ".new_author" %></i>
          <% end %>
        </div>
        <%= f.label :tags %><br/>
        <%= f.collection_select :tag_ids, supports.tags, :id, :title,
          {}, {multiple: true, size: 1, class:"form-controll pmd-select2-tags select-authors",
          data: {placeholder: t(".choose_tags")}} %>
        <%= f.label :images %><br/>
        <div class="row">
          <div class="add-images col-xs-12">
            <table class="book-add-image">
              <%= f.fields_for :images do |image| %>
                <%= render "image_fields", f: image %>
              <% end %>
              <div class="col-xs-3 text-center add-image-button">
                <%= link_to_add_association f, :images,
                  "data-turbolinks": false do %>
                  <i class="fa fa-plus"></i>
                <% end %>
              </div>
            </table>
          </div>
        </div>
        <div class="text-center col-xs-12">
          <% if book.new_record? %>
            <%= f.submit class: "btn btn-info add-book" %>
            <%= f.submit t("button.clear"), type: :reset, class:"btn btn-danger" %>
          <% else %>
            <%= f.submit class:"btn btn-success"%>
            <%= f.submit t("button.clear"), type: :reset, class:"btn btn-danger" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
