<div id="edit-book-item-modal" class="modal1">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <% if book_item.id.blank? %>
        <h1 class="text-center text-uppercase">
          <%= t "admin.book_items.new.page_title" %>
        </h1>
      <% else %>
        <h1 class="text-center text-uppercase">
          <%= t "admin.book_items.edit.page_title" %>
        </h1>
      <% end %>
    </div>
    <div class="modal-body">
      <div class="modal-form">
        <%= form_for [:admin, book, book_item] do |f| %>
          <%= f.label :location %>
          <%= f.text_field :location, class: "form-control",
            id: "book_item_location_field-#{book_item.id}" %>
          <%= f.label :description %>
          <%= f.text_field :description, class: "form-control",
            id: "book_item_description_field-#{book_item.id}" %>
          <%= f.label :state %>
          <%= f.select :state, supports.book_items, {},
            {id: "book_item_state", class: "form-control"} %>
        <% end %>
        <% if book_item.id.blank? %>
          <button type="button" class="btn btn-primary btn-create-item pull-right"
            data-dismiss="modal" value="<%= book.id %>">
            <%= t "admin.users.index.create" %>
          </button>
        <% else %>
          <button type="reset" class="btn btn-danger pull-right">
            <%= t "button.clear_form" %>
          </button>
          <div class="btn btn-success btn-save-item pull-right" value="<%= book.id %>"
            data-id="<%= book_item.id %>">
            <%= t "button.save" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>
