<ol class="breadcrumb text-left">
  <li class="active">
    <%= link_to t(".link1"), admin_books_path %><%= t "admin.link" %>
    <%= link_to t(".link2"), new_admin_book_path(@book) %>
  </li>
</ol>
<h1 class="section-title text-center title" id="services">
  <span><%= t ".page_title" %></span>
</h1>
<div class="col-sm-12 col-md-offset-1 col-md-10">
  <div class="col-xs-12">
    <%= render "form", book: @book, supports: @supports %>
  </div>
</div>
