<ol class="breadcrumb text-left">
  <li class="active">
    <%= link_to t(".link1"), admin_authors_path, "data-turbolinks": false %>
  </li>
</ol>
<h1 class="section-title" id="services">
  <span><%= t ".page_title" %></span>
</h1>
<div class="row">
  <div class="col-xs-12">
    <% flash.each do |key, value| %>
      <div class="flash-message <%= key %>">
        <%= value %>
      </div>
    <% end %>
    <div class="search-form" id="author">
      <%= render "author", authors: @authors %>
    </div>
  </div>
</div>
