<div id="author-show">
  <ol class="breadcrumb text-left">
    <li class="active">
      <%= link_to t(".link1"), admin_authors_path %><%= t "admin.link" %>
      <%= link_to t(".link2"), admin_author_path(@author) %>
    </li>
  </ol>
  <h1 class="section-title" id="services">
    <span><%= t ".page_title" %></span>
  </h1>
  <div>
    <div class="pmd-card pmd-z-depth pmd-card-custom-form col-xs-12 author-info">
      <div class="pmd-card-body">
        <div class="row">
          <div data-provides="fileinput" class="fileinput fileinput-new col-lg-3">
            <div data-trigger="fileinput"
              class="fileinput-preview thumbnail img-circle img-responsive">
              <img src="<%= @author.images.first.try :url %>" class="book-image">
              <div class="image-others">
                <div class="owl-carousel owl-theme">
                  <% @author.images.each do |i| %>
                    <img src="<%= i.try :url %>" class="book-image-others"
                      id="image-other<%= i.id %>">
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 custom-col-9">
            <div class="row">
              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group prousername pmd-textfield">
                    <label class="control-label col-sm-3 label-size">
                      <%= t ".id" %>
                    </label>
                    <div class="col-sm-9">
                      <p class="form-control-static">
                        <strong><%= @author.id %></strong>
                      </p>
                    </div>
                  </div>
                  <div class="form-group pmd-textfield">
                    <label class="col-sm-3 control-label label-size">
                      <%= t "admin.authors.author.name" %>
                    </label>
                    <div class="col-sm-9">
                      <p class="form-control-static">
                        <strong><%= @author.name %></strong>
                      </p>
                    </div>
                  </div>
                  <div class="form-group pmd-textfield">
                    <label class="col-sm-3 control-label label-size">
                      <%= t "admin.authors.author.description" %>
                    </label>
                    <div class="col-sm-9">
                      <p class="form-control-static">
                        <strong><%= @author.description %></strong>
                      </p>
                    </div>
                  </div>
                  <div class="form-group btns margin-bot-30">
                    <div class="col-sm-10 col-sm-offset-2">
                      <%= link_to t(".quick"), edit_admin_author_path(@author),
                        remote: true, class:"quick-edit btn btn-success pmd-ripple-effect" %>
                      <div id="myModal" class="modal fade" role="dialog" aria-hidden="true"></div>
                      <%= link_to t("button.edit"), edit_admin_author_path(@author),
                        class: "btn btn-primary pmd-ripple-effect"%>
                      <%= link_to t("button.delete"), admin_author_path(@author),
                        class: "btn btn-default btn-link pmd-ripple-effect",
                        method: :delete, data: {confirm: t("button.delete_warning")} %>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="author-show col-xs-12">
        <h2><%= t "admin.authors.form.books" %><%= @author.name %></h2>
        <div class="col-xs-12">
          <table class="table table-bordered">
            <tr>
              <th><%= t ".id" %></th>
              <th colspan="2"><%= t ".title" %></th>
              <th><%= t ".categories" %></th>
              <th><%= t ".publisher" %></th>
              <th><%= t ".isbn" %></th>
              <th><%= t ".series" %></th>
              <th><%= t ".language" %></th>
              <th><%= t ".option" %></th>
            </tr>
            <% @author.books.each do |book| %>
              <tr>
                <td><%= book.try :id %></td>
                <td colspan="2">
                  <%= link_to_if book.present?, book.title, admin_book_path(book) %>
                </td>
                <td>
                  <% book.categories.each do |cate| %>
                    <% unless book.categories.last %>
                      <%= link_to cate.title, admin_category_path(cate) %>
                    <% end %>
                    <%= link_to cate.title, admin_category_path(cate) %>,
                  <% end %>
                </td>
                <td>
                  <%= link_to_if book.publisher.present?, book.publisher.name,
                    admin_publisher_path(book.publisher) %>
                </td>
                <td><%= book.isbn %></td>
                <td><%= book.series.try :title %></td>
                <td><%= book.language.try :full_name %></td>
                <td>
                  <%= link_to edit_admin_book_path(book),
                    class: "btn btn-primary" do %>
                    <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to admin_author_book_path(@author.id, book.id),
                    class: "btn btn-danger",
                    method: :delete, data: {confirm: t("button.delete_warning")} do %>
                    <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
