<% provide :title, @author.name %>

<div class="container-fluid header-block">
  <h2><%= t ".author" %> </h2>
  <h1 class="text-capitalize"><%= @author.name %></h1>
</div>

<div class="container author-detail">
  <div class="row">
    <div class="col-sm-3 img-container col-sm-offset-1">
      <img src="<%= @author.avatar.url %>"
        class="img-responsive">
    </div>
    <div class="col-sm-6 col-sm-offset-1 book-info-container">
      <h2><%= @author.name %></h2>
      <p><%= @author.description %></p>
      <div class="slide-nav">
        <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
        <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
      </div>
      <div class="owl-carousel owl-theme book-of-author-slide" id="author-book-slider">
        <% @author.books.each do |b| %>
          <div class="book-grid" >
            <div class="book-item-info">
              <p class="book-title" title="<%= b.title %>">
                <%= link_to b.title.truncate(
                  Settings.user.home.truncate.item_book_title), book_path(b),
                    "data-turbolinks":"false" %></p>
              <div class="star-in-item">
                <% (1..(load_rate b.rate).first).each do %>
                  <i class="fa fa-star" aria-hidden="true"></i>
                <% end  %>
                <% (1..(load_rate b.rate).second).each do %>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <% end  %>
                <% (1..(load_rate b.rate).last).each do %>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                <% end  %>
                <%= b.rate_count %>
              </div>
              <p class="book-author">
                <% b.authors.each_with_index do |a, index| %>
                  <% if index == b.authors.count - 1 %>
                    <%= a.name %>
                  <% else %>
                    <%= a.name %>,
                  <% end %>
                <% end %>
              </p>
              <p class="book-category">
                <%= link_to b.categories.first.title,
                  category_path(b.categories.first),
                  "data-turbolinks": "false" %></p>
            </div>
            <img src="<%= b.images.first.url.thumb %>" class="img-responsive
              pmd-z-depth-1">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
