<div class="container">
  <div class="row">
    <div class="col-sm-9 tab-style-1-content">
      <div class="row">
        <% books.each do |book| %>
          <div class="col-sm-4">
            <div class="box-outer">
              <div class="box">
                <div class="frame">
                  <div class="caption">
                    <%= link_to book, "data-turbolinks": false do  %>
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    <% end %>
                  </div>
                  <div class="img-frame">
                    <%= link_to book, "data-turbolinks": false do  %>
                      <% if book.images.first.present? %>
                        <img src="<%= book.images.first.url.thumb.url %>" class="img-responsive"
                          alt="<%= book.title %>">
                      <% else %>
                        <img src="<%= asset_path "default-book.png" %>" class="img-responsive"
                          alt="<%= book.title %>">
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="text-column">
                  <span>
                    <% book.categories.each do |category| %>
                      <%= link_to category.title, category, "data-turbolinks": false %>
                      <%= category != book.categories.last ? ", " : nil %>
                    <% end %>
                  </span>
                  <h3>
                    <%= link_to book.title.truncate(Settings.truncate.book.title), book,
                      "data-turbolinks": false %>
                  </h3>
                  <em><%= book.description.truncate Settings.truncate.book.desc %></em>
                  <div class="review-start">
                    <div class="rating_stars">
                      <div class="rating_down">
                        <div class="rating_up" style="width:100%;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <hr>
          <%= paginate books, theme: "twitter-bootstrap-3", remote: true %>
        </div>
      </div>
    </div>
  </div>
</div>
