<tr class="borrow-row" id="borrow-row-id-<%= request.id %>">
  <td data-title="Name" data-id="<%= request.id %>" id="request-name">
    <%= link_to request.book.title, request.book, "data-turbolinks": false %>
  </td>
  <td><%= request.time_start.strftime "%Y/%m/%d" %></td>
  <td><%= request.time_end.strftime "%Y/%m/%d" %></td>
  <td class="borrow-btn-group">
    <% case request.status %>
    <% when "reject" %>
      <span class="reject status-btn">Rejected</span>
    <% when "cancel" %>
      <span class="cancel status-btn">Canceled</span>
    <% when "approved" %>
      <span class="approve status-btn">Approved</span>
    <% else %>
      <span class="not-approve status-btn">Waiting</span>
      <span class="cancel-ok status-btn">OK</span>
      <span class="cancel-back status-btn">Back</span>
    <% end %>
  </td>
</tr>
