<div class="book-borrow book-part">
  <p class="borrow-title"><%= t ".books" %></p>
  <p class="borrow-title bolder"><%= t ".borrow" %></p>
  <div class="frame">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group pmd-textfield pmd-textfield-floating-label">
          <label class="control-label" for="regular1">
            <%= t "books.show.start_date" %></label>
          <input type="text" class="form-control" id="datepicker-start">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group pmd-textfield pmd-textfield-floating-label">
          <label class="control-label" for="regular1">
            <%= t "books.show.end_date" %></label>
          <input type="text" class="form-control" id="datepicker-end">
        </div>
      </div>
    </div>
    <div class="row">
      <% if user_signed_in? %>
        <div class="btn btn-lg text-center btn-primary col-sm-10 col-sm-offset-1
          btn-send-req" id="btn-send-req">
          <%= t "books.show.send_req" %>
        </div>
      <% else %>
        <%= link_to new_user_session_path do %>
          <div class="btn btn-lg text-center btn-primary col-sm-10 col-sm-offset-1
            btn-send-req unsigned">
            <%= t(".login") %>
          </div>
        <% end %>
      <% end %>

    </div>
    <div class="hidden current-book-id" id="<%= book.id %>"></div>
  </div>
</div>
