<div class="book-center book-part">
  <p class="book-title"><%= book.title %></p>
  <p class="book-author">
    <% book.authors.each_with_index do |a, index| %>
        <%= link_to author_path(a), "data-turbolinks": false do %>
          <%= a.name %>
          <% if index == book.authors.count - 1 %>
            <% if a.description %>
              <%= render "popup_author_info", author: a %>
            <%  end %>
          <% else %>
            <% if a.description %>
              <%= render "popup_author_info", author: a %>
            <% end %>,
          <% end %>
      <% end %>
    <% end %>
  </p>
  <div>
    <% (1..(load_rate book.rate).first).each do |s| %>
      <i class="fa fa-star" aria-hidden="true"></i>
    <% end  %>
    <% (1..(load_rate book.rate).second).each do |s| %>
      <i class="fa fa-star-half-o" aria-hidden="true"></i>
    <% end  %>
    <% (1..(load_rate book.rate).last).each do |s| %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    <% end  %>
    <% if book.rate_count %>
     (<%= book.rate_count %>)
    <% else %>
      (0)
    <% end %>
  </div>

  <% if book.series %>
    <p class="book-info-row">
      <span><%= t "books.show.series" %></span> <%= book.series.title %>
    </p>
  <% end %>

  <div class="book-info-row">
    <span><%= t "books.show.tag" %></span>
    <% book.tags.each do |t| %>
      <%= link_to t.title, tag_path(t), "data-turbolinks": "false", class: "tag" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <p class="book-info-row"><span><%= t "books.show.isbn" %></span> <%= book.isbn %></p>
      <p class="book-info-row"><span><%= t "books.show.language" %></span> <%= book.language.full_name %></p>
      <p class="book-info-row"><span><%= t "books.show.pages" %></span> <%= book.pages %></p>
    </div>
    <div class="col-sm-6">
      <p class="book-info-row"><span><%= t "books.show.publisher" %></span> <%= book.publisher.name %></p>
      <p class="book-info-row"><span><%= t "books.show.public_date" %></span> <%= book.public_date.strftime('%d/%m/%Y') %></p>
      <p class="book-info-row"><span><%= t "books.show.publisher" %></span> <%= book.dimension %></p>
    </div>
  </div>

  <% if book.pdf_ebooks.present?  %>
    <div class="row book-btn-row">
      <%= link_to t("books.show.watch_online"), read_online_path(id: book.id),
        "data-turbolinks": "false",
        class: "btn-primary col-sm-4 btn-book-info pmd-z-depth-1" %>
    </div>
  <% end %>
</div>
