<div class="book-center book-part">
  <p class="book-title"><%= book.title %></p>

  <div class="book-cate">
    <% if book.categories.present? %>
      <% book.categories.each do |cate| %>
        <%= link_to cate.title, cate, "data-turbolinks": false %>
      <% end %>
    <% end %>
  </div>

  <p class="book-author">
    <% book.authors.each_with_index do |a, index| %>
        <%= link_to author_path(a), "data-turbolinks": false do %>
          <span><%= a.name %></span>
          <% if index == book.authors.count - 1 %>
            <% if a.description %>
              <%= render "popup_author_info", author: a %>
            <%  end %>
          <% else %>
            <% if a.description %>
              <%= render "popup_author_info", author: a %>
            <% end %>,
          <% end %>
      <% end %>
    <% end %>
  </p>
  <input type="hidden" id="is_rate" value="<%= rate(book).present? %>">
  <div id="rate">
    <% (1..(load_rate book.rate).first).each do |s| %>
      <i class="fa fa-star rate" aria-hidden="true"></i>
    <% end  %>
    <% (1..(load_rate book.rate).second).each do |s| %>
      <i class="fa fa-star-half-o rate" aria-hidden="true"></i>
    <% end  %>
    <% (1..(load_rate book.rate).last).each do |s| %>
      <i class="fa fa-star-o rate" aria-hidden="true"></i>
    <% end  %>
    <% if book.rate_count %>
     (<%= book.rate_count %>)
    <% else %>
      (0)
    <% end %>
  </div>

  <% if book.series %>
    <p class="book-info-row">
      <span><%= t "books.show.series" %></span> <%= book.series.title %>
    </p>
  <% end %>

  <div class="book-info-row">
    <% if book.tags.present? %>
      <span><%= t "books.show.tag" %></span>
      <% book.tags.each do |t| %>
        <%= link_to t.title, tag_path(t), "data-turbolinks": "false", class: "tag" %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <% if book.isbn %>
        <p class="book-info-row">
          <span><%= t "books.show.isbn" %></span> <%= book.isbn %></p>
      <% end %>
      <% if book.language.full_name %>
        <p class="book-info-row">
          <span><%= t "books.show.language" %></span> <%= book.language.full_name %></p>
      <% end %>
      <% if book.pages %>
        <p class="book-info-row">
          <span><%= t "books.show.pages" %></span> <%= book.pages %></p>
      <% end %>

      <p class="book-info-row"><span><%= t "books.show.status" %></span>
        <% if book.available_book_item.present? %>
          <span class="approve"><%= t "books.show.available_book_item" %></span>
        <% else %>
          <span class="reject"><%= t "books.show.unavailable_book_item" %></span>
        <% end %>
      </p>
    </div>

    <div class="col-sm-6">
      <% if book.publisher.name %>
        <p class="book-info-row">
          <span><%= t "books.show.publisher" %></span> <%= book.publisher.name %></p>
      <% end %>
      <% if book.public_date %>
        <p class="book-info-row">
          <span>
            <%= t "books.show.public_date" %>
          </span>
          <%= book.public_date.strftime('%d/%m/%Y') %></p>
      <% end %>
      <% if book.dimension %>
        <p class="book-info-row"><span><%= t "books.show.publisher" %></span>
          <%= book.dimension %></p>
      <% end %>
    </div>
  </div>

  <div class="row book-btn-row">
    <% if book.pdf_ebooks.present?  %>
      <%= link_to t("books.show.watch_online"), read_online_path(id: book.id),
        "data-turbolinks": "false",
        class: "btn-primary col-sm-4 btn-book-info pmd-z-depth-1" %>
        <div class="col-sm-1"></div>
    <% end %>
    <div class="btn-primary col-sm-5 btn-book-info pmd-z-depth-1
      btn-suggest-book">
      <%= t "books.suggest_book.suggest" %>
    </div>
  </div>
  <div class="row book-mark-btn">
    <%= render "book_marks/book_mark_form", book: book, book_mark: book_mark %>
  </div>
</div>
