<div class="tab-content">
  <div id="comment" class="tab-pane fade in active">
    <div class="tab-row">
      <div class="row" id="comments">
        <%= render "books/comment_form", book: book %>
        <%= render "books/comments", book: book %>
      </div>
    </div>
  </div>

  <div id="blog" class="tab-pane fade">
    <div class="tab-row">
      <% book.blogs.each do |b| %>
        <div class="blog-box pmd-z-depth">
          <div class="blog-head">
            <p><%= link_to b.user.email, "#" %>
              <span class="time-ago" title="<%= b.created_at %>">
                <%= time_ago_in_words b.created_at %> <%= t "books.show.ago" %>
              </span>
            </p>
            <span class="blog-title">
              <%= link_to b.title, "" %>
            </span>
            <div class="blog-title-left">
              <% if b.votes %> <%= b.votes.count %>
              <% else %> 0
              <% end %>
              <i class="fa fa-heart" aria-hidden="true"></i>

              <% if b.comments %> <%= b.comments.count %>
              <% else %> 0
              <% end %>
              <i class="fa fa-comment" aria-hidden="true"></i>
            </div>
          </div>

          <div class="blog-description">
            <p>
              <%= b.description %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="description" class="tab-pane fade">
    <div class="tab-row">
      <p class="description">
        <%= book.description %>
      </p>
    </div>
  </div>
</div>
