<% provide :title, @book.title %>

<div class="book-show">
  <div class="container-fluid header-block hero-block">
    <div class="col-xs-2 col-xs-offset-1 text-right">
      <h2><%= link_to t(".books"), explorer_index_path,
        "data-turbolinks": false %></h2>
    </div>
    <div class="col-xs-9">
      <h1 class="text-capitalize"><%= @book.title %></h1>
    </div>
  </div>
  <div class="container">
    <div class="row book-top">
      <div class="col-sm-3">
        <%= render "book_left", book: @book %>
      </div>
      <div class="col-sm-6">
        <%= render "book_center", book: @book, book_mark: @book_mark %>
      </div>
      <div class="col-sm-3 book-borrow-col">
        <%= render "book_right", book: @book %>
        <div class="end-triangle">
        </div>
      </div>
    </div>

    <div class="row">
      <%= render "related_book", book: @book %>
    </div>

    <div class="row social-field">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#comment" class="pmd-z-depth-1">
            <%= t "books.show.comment" %></a>
        </li>
        <li>
          <a data-toggle="tab" href="#blog" class="pmd-z-depth-1">
            <%= t "books.show.blog" %></a>
        </li>
        <li>
          <a data-toggle="tab" href="#description" class="pmd-z-depth-1">
            <%= t "books.show.description" %></a>
        </li>

        <li class="btn-new-blog">
          <%= form_with model: Blog.new, url: blog_posts_path, local: true do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <button class="btn btn-primary pmd-btn-raised pmd-ripple-effect
              btn-create" type="submit">
              <i class="fa fa-fw fa-pencil"></i>
              <%= t "blog.dashboard.index.create_post" %>
            </button>
          <% end %>
        </li>
      </ul>
      <%= render "social", book: @book %>
    </div>
  </div>

  <div class="modal-send-req-result">
  </div>
  <div class="modal-suggest-result">
  </div>
</div>

<%= render "suggest_books/form",
  book: @book, suggest_book: @suggest_book, users: @users %>
