<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <% if category.id.blank? %>
      <h4 class="modal-title"><%= t "admin.users.index.create_new_user" %></h4>
    <% else %>
      <h4 class="modal-title">
        <%= t "admin.users.index.edit_user_infomation" %></h4>
    <% end %>
  </div>
  <div class="modal-body">
    <div class="pmd-card pmd-z-depth pmd-card-custom-form">
      <div class="pmd-card-body">
        <%= form_for [:admin, category] do |f| %>
          <%= f.label :title, "title", class:"label2"%>
          <%= f.text_field :title, class: "form-control",
            id: "text-field-category-title-#{category.id}"%><br>
          <%= f.label :image, "Image", class:"label2"%>
          <%= f.file_field :image,
            id: "text-field-category-image-#{category.id}", class: "file" %><br>
          <img src="<%= category.image.thumb %>" alt="" class="img-responsive" height="100px"
            width="100px">
          <br>
          <%= f.label :parent_id, "Category parent id", class:"label2"%>
          <%= f.collection_select :parent_id,
            data.load_list_parent_avaible(category.id), :id, :title, {prompt: true},
            {id: "text-field-category-parent-#{category.id}"} %><br>
          <%= f.label :description, "description", class:"form-label" %>
          <%= f.text_area :description, class: "form-control
            category-description",
            id: "text-field-category-description-#{category.id}"%><br>
          <%= f.label :books, t(".books"), class:"form-label" %>
          <%= f.collection_select :book_ids, data.books, :id, :title,
            {}, {multiple: true, size: 1, class: "chosen-select2 form-control
            category-book", id: "category-books-#{category.id}",
            data: {placeholder: t("admin.categories.index.choice_book")}} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <% if category.id.blank? %>
      <button type="button" class="btn btn-success create-category"
        data-dismiss="modal"
        data-curent-page="<%= data.current_page %>">
        <%= t "admin.users.index.create" %>
      </button>
    <% else %>
      <button type="button" class="btn btn-danger delete-category"
        data-dismiss="modal" data-id="<%= category.id %>"
        data-curent-page="<%= data.current_page %>">
        <%= t "admin.users.index.delete" %>
      </button>
      <button type="button" class="btn btn-success save-category"
        data-dismiss="modal" data-id="<%= category.id %>"
        data-current-page="<%= data.current_page %>">
      <%= t "admin.users.index.save" %>
      </button>
    <% end %>
  </div>
</div>
