<div class="row", id="">
  <div></div>
  <div class="col-md-12 pull-right">
    <div class="col-md-3">
      <div class="form-group pmd-textfield pmd-textfield-floating-label">
        <label><%= t "admin.requests.index.status_select" %></label>
        <select class="select-simple form-control pmd-select2 test-status-selected", id="status-selected">
          <option value="all">
            <%= t "admin.requests.index.all" %>
          </option>
          <option value="reject">
            <%= t "admin.requests.index.reject" %>
          </option>
          <option value="approved">
            <%= t "admin.requests.index.approved" %>
          </option>
          <option selected="selected" value="not_approved">
            <%= t "admin.requests.index.not_approved_yet" %>
          </option>
          <option value="cancel">
            <%= t "admin.requests.index.cancel" %>
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-2 text-right form-group">
      <div class="col-md-1">
        <button type="button" class="btn btn-success" id="save-button">
          <%= t "admin.requests.index.save" %>
        </button>
      </div>
    </div>
  </div>
  <div id="list-borrow-books-view">
    <div class="table-responsive", id="list-borrow-books">
      <div class="col-sm-12">
        <div class="col-sm-6" id="number-categories-view">
          <div id="number-categories">
            <p><%= t "admin.requests.index.number_requests" %>
              <%= data.request_borrow_books.count %>
            </p>
          </div>
        </div>
        <div class="col-sm-6 page_info text-center"
          id="pagination-borrow-books">
          <%= paginate data.request_borrow_books_search, remote: true,
            theme: "twitter-bootstrap-3" %>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th><%= t "admin.requests.index.no" %></th>
          <th><%= t "admin.requests.index.username" %></th>
          <th><%= t "admin.requests.index.start_date" %></th>
          <th><%= t "admin.requests.index.end_date" %></th>
          <th><%= t "admin.requests.index.book_title" %></th>
          <th><%= t "admin.requests.index.available" %></th>
          <th><%= t "admin.requests.index.status" %></th>
        </tr>
        </thead>
        <tbody>
        <% data.request_borrow_books_search.each do |request| %>
          <tr>
            <td data-title="No"><%= request.id %></td>
            <td data-title="Username"><%= request.user.name %></td>
            <td data-title="Start Date"><%= request.time_start %></td>
            <td data-title="End Date"><%= request.time_end %></td>
            <td data-title="Book name"><%= request.book.title %></td>
            <td data-title="Remaining Amount">
              <%= data.load_book_item_info request.book.id %></td>
            <td data-title="Status">
              <% if request.status == "approved" %>
                <div class="alert alert-success" role="alert">
                  <a class="alert-link">
                    <%= t "admin.requests.index.approved" %>
                  </a>
                </div>
              <% elsif request.status == "cancel" %>
                <div class="alert alert-warning" role="alert">
                  <a class="alert-link">
                    <%= t "admin.requests.index.cancel" %>
                  </a>
                </div>
              <% elsif request.status == "reject" %>
                <div class="alert alert-danger" role="alert">
                  <a class="alert-link">
                    <%= t "admin.requests.index.reject" %>
                  </a>
                </div>
              <% else %>
                <select class="select-simple form-control pmd-select2 select-status"
                  data-id=<%= request.id %>>
                  <option selected="selected" value="1">
                    <%= t "admin.requests.index.not_approved_yet" %>
                  </option>
                  <option value="reject">
                    <%= t "admin.requests.index.reject" %>
                  </option>
                  <option value="approved">
                    <%= t "admin.requests.index.approve" %>
                  </option>
                </select>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
