<aside class="pmd-sidebar sidebar-default pmd-sidebar-slide-push
  pmd-sidebar-left pmd-sidebar-open bg-fill-darkblue sidebar-with-icons"
  role="navigation">
  <ul class="nav pmd-sidebar-nav text-left">
    <li class="dropdown pmd-dropdown pmd-user-info
      visible-xs visible-md visible-sm visible-lg">
      <a aria-expanded="false" data-toggle="dropdown"
        class="btn-user dropdown-toggle media"
        data-sidebar="true" aria-expandedhref="javascript:void(0);">
        <div class="media-left">
          <img src="http://propeller.in/templates/admin-dashboard/themes/images/user-icon.png"
            alt="Administrator">
        </div>
        <div class="media-body media-middle">
          <%= t "layouts.header.administrator" %>
        </div>
        <div class="media-right media-middle">
          <i class="dic-more-vert dic"></i>
        </div>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to t("layouts.sidebar.logout"), "#",
            "data-turbolinks":"false", method: :delete%>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to admin_root_path, "data-turbolink": false,
        class: "pmd-ripple-effect active" do %>
        <i class="material-icons media-left pmd-sm">dashboard</i>
        <span class="media-body"><%= t "layouts.sidebar.dashboard" %></span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_books_path, "data-turbolink": false,
        class:"media-body media-middle" do %>
        <i class="material-icons media-left pmd-sm">library_books</i>
        <span class="media-body"><%= t "admin.book_manage" %></span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_authors_path, "data-turbolink": false,
        class:"media-body media-middle" do %>
        <i class="material-icons media-left pmd-sm">perm_identity</i>
        <span class="media-body"><%= t "admin.author_manage" %></span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_users_path, "data-turbolink": false,
        class: "pmd-ripple-effect active" do %>
        <i class="material-icons media-left pmd-sm">account_box</i>
        <span class="media-body"><%= t "sidebar.users_manager" %></span>
      <% end %>
    </li>
    <li>
      <%= link_to admin_categories_path, "data-turbolink": false,
        class: "pmd-ripple-effect active" do %>
        <i class="material-icons media-left pmd-sm">collections_bookmark</i>
        <span class="media-body"><%= t "sidebar.categories_manager" %></span>
      <% end %>
    </li>
    <li class="dropdown pmd-dropdown">
      <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media"
         data-sidebar="true" href="javascript:void(0);">
        <i class="material-icons media-left pmd-sm">speaker_notes</i>
        <span class="media-body">Request</span>
        <div class="media-right media-bottom"><i class="dic-more-vert dic"></i></div>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to t("sidebar.borrow_books"), admin_borrows_path,
            "data-turbolink": false %>
        </li>
      </ul>
    </li>
  </ul>
</aside>
