<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <% if user.id.blank? %>
      <h4 class="modal-title"><%= t "admin.users.index.create_new_user" %></h4>
    <% else %>
      <h4 class="modal-title">
        <%= t "admin.users.index.edit_user_infomation" %></h4>
    <% end %>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" action="" id="form" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">
              <%= t "admin.users.index.email" %></label>
            <div class="col-lg-9">
              <input data-validation="email required"
                type="email" class="form-control" type="text"
                id="text-field-mail-<%= user.id %>"
                value= <%= user.email %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">
              <%= t "admin.users.index.name" %></label>
            <div class="col-lg-9">
              <input data-validation="required" class="form-control" type="text"
                id= <%= "text-field-name-#{user.id}" %>
                value="<%= user.name %>">
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">
              <%= t "admin.users.index.staff_code" %></label>
            <div class="col-lg-9">
              <input data-validation="required" class="form-control" type="text"
                id= <%= "text-field-staff-code-#{user.id}" %>
                value="<%= user.staff_code %>">
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">
              <%= t "admin.users.index.role" %></label>
            <div class="col-md-9">
              <select class="select-simple form-control
                pmd-select2 select-status"
                id = role-user-id-<%= user.id %>>
                <% if user.role == "admin" %>
                    <option value="user">
                      <%= t "admin.users.index.user" %>
                    </option>
                    <option selected="selected" value="admin">
                      <%= t "admin.users.index.admin" %>
                    </option>
                <% else %>
                    <option selected="selected" value="user">
                      <%= t "admin.users.index.user" %>
                    </option>
                    <option value="admin">
                      <%= t "admin.users.index.admin" %>
                    </option>
                <% end %>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <% if user.id.blank? %>
      <button type="button" class="btn btn-success create-user"
        value="Validate" data-dismiss="modal"
        data-curent-page="<%= data.current_page %>">
        <%= t "admin.users.index.create" %>
      </button>
    <% else %>
      <button type="button" class="btn btn-danger delete-user"
        data-dismiss="modal" data-id="<%= user.id %>"
        data-curent-page="<%= data.current_page %>">
        <%= t "admin.users.index.delete" %>
      </button>
      <button type="button" class="btn btn-success save-user"
        data-dismiss="modal" value="Validate" data-id="<%= user.id %>"
        data-curent-page="<%= data.current_page %>">
        <%= t "admin.users.index.save" %>
      </button>
    <% end %>
  </div>
</div>
