<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="<%= asset_path "favicon.ico" %>" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Raleway:300,400,700,900" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <% if File.exist? Rails.root.join("app/assets/javascripts/users", params[:controller] + ".js") %>
      <%= javascript_include_tag ("users/" + params[:controller]), "data-turbolinks-track": "reload" %>
    <% end %>
  </body>
</html>
